<p>Job Number: <span class="h-card">[*extra_field_195*]</span></p>

<p style="text-align:center"><strong>Unconditional Waiver and Release of Lien Upon Progress Payment</strong></p>

<p><br />
	The undersigned lienor, in consideration of the progress payment in the amount of $<span class="h-card">[*extra_field_39*]</span>, hereby waives and releases its lien and right to claim a lien for labor, services, or materials furnished through <span class="h-card">[*extra_field_107*]</span>, to <span class="h-card">[*hiring_company*]</span> , on the job of <span class="h-card">[*property_owner_company*]</span> to the following described property:</p>

<p><br />
	<span class="h-card">[*project_nickname*]</span></p>

<p><br />
	<span class="h-card">[*project_address*]</span></p>

<p><br />
	<span class="h-card">[*project_city*]</span>, <span class="h-card">[*project_state*]</span> <span class="h-card">[*project_zip*]</span></p>

<p> </p>

<p><span class="h-card">[*extra_field_147*]</span></p>

<hr />
<hr />
<p style="text-align:right">This waiver and release does not cover any retention or labor, services, or materials furnished after the date specified.</p>

<p style="text-align:right">Anixter Inc.</p>

<p style="text-align:right">3881 Old Winter Garden Rd.</p>

<p style="text-align:right">Orlando, Florida, 32805-1002</p>

<p style="text-align:right">Signed by: _____________________________</p>

<p style="text-align:right"><br />
	Title:_____________________________</p>

<hr />
<p><br />
	<strong>State of Florida</strong></p>

<p><br />
	<strong>County Of Orange</strong></p>

<p><br />
	<br />
	Sworn to and subscribed before me this _____ day of _________________, 20__ _____________________ is personally known to me or provided the following identification ______________________________.</p>

<p> </p>

<p><br />
	_________________________________</p>

<p>Notary Public - State of Florida</p>
